.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  height: 100%;
  background-color: rgba(179, 179, 179, 0.8);
  backdrop-filter: blur(5px) saturate(120%) contrast(140%);
  overflow-x: auto;
}

.card > div > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > div > ul > li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card > div > ul > li > a {
  width: 100%;
  max-width: unset;
}

@media (max-width: 1025px) and (orientation: landscape) {
  .card {
    top: 40vh;
  }

  .card > div > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .card {
    position: absolute;
    top: 30vh;
    left: calc(50% - 9.5rem);
    max-width: 19rem;
    height: fit-content;
    max-height: 75vh;
  }
}
