.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 0;
  text-align: center;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (max-width: 1025px) and (orientation: landscape) {
  .list {
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (min-width: 1025px) {
  .list {
    flex-direction: column;
    padding: 0 1.5rem;
    width: 17rem;
    height: fit-content;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
