.article {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
}

.article p {
  text-align: justify;
}

@media (prefers-color-scheme: dark) {
  .article h1 {
    color: rgb(0, 0, 0);
  }
  .article p {
    color: rgb(0, 0, 0);
  }
}

@media (max-width: 1025px) and (orientation: landscape) {
  .article {
    max-height: unset;
  }
}

@media (min-width: 1025px) {
  .article {
    width: 40rem;
    height: fit-content;
    max-height: 75vh;
    padding: 0 0.5rem 0 1rem;
  }
}
