.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1025px) and (orientation: landscape) {
  .pageWrapper {
    flex-direction: row;
    top: 22vh;
    max-height: 76vh;
  }
}

@media (min-width: 1025px) {
  .pageWrapper {
    display: block;
    position: absolute;
    top: 20vh;
    left: calc(50% - 30rem);
    max-width: 60rem;
    max-height: 75vh;
  }
}
