.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

.card > div > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card > div > ul > li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card > div > ul > li > a {
  width: 100%;
  max-width: unset;
}

@media (min-width: 1025px) {
  .card {
    position: absolute;
    top: 25vh;
    left: calc(50% - 9.5rem);
    max-width: 19rem;
    height: fit-content;
    max-height: 75vh;
  }
}
