.card {
  display: flex;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 17vh;
  max-height: 80vh;
  background-color: rgba(179, 179, 179, 0.8);
  backdrop-filter: blur(5px) saturate(120%) contrast(140%);
}

.card > div {
  width: 100%;
  overflow: auto;
}

@media (max-width: 1025px) and (orientation: landscape) {
  .card {
    top: 22vh;
    max-height: 75vh;
  }
}

@media (min-width: 1025px) {
  .card {
    width: 80%;
    left: 10%;
    justify-content: space-between;
  }

  .card > div {
    display: flex;
    justify-content: space-between;
  }
}
